# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
cluster/.one/
cluster/.two/
cluster/.three/
0.10.3/
0.12.1/
0.12.2/
debug/

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# Config File
benchmark/default.conf
cluster/*.toml
cluster/aggregative_test.sh